.sign-in {
  align-items: center;
}

/* .title-container {
  background-color: #4d94ff;
  min-height: 40px;
} */

.sign-in-form {
  width: 35vw;
  margin: 5px auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(35px, auto);
  grid-template-areas:
    "username-input"
    "error-username"
    "password-input"
    "error-password"
    "sign-container";
}

.username-input {
  grid-area: username-input;
}

.error-username {
  grid-area: error-username;
  text-align: start;
}

.password-input {
  grid-area: password-input;
}

.error-password{
  grid-area: error-password;
  text-align: start;
}

.sign-container {
  grid-area: sign-container;
}

.sign-in-btn {
  font-size: 16px;
  padding: 5px 30px;
  margin-bottom: 10px;
}

.error-sing-in{
  text-align: start;
}

.sign-up-text{
  padding: 10px 5px;
  color: black;
}

span.to-sign-up{
  padding-left: 10px;
  color:#005ce6 ;
}
