.channel-col {
  font-size: 16px;
  color: #00001a;
  line-height: 1.5;
  min-width: 175px;
  /* border: 2px solid black; */
  grid-area: channel-col;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* grid-template-rows: auto 1fr auto; */
  grid-template-rows: 1fr auto;
  text-align: start;

  /* max-height: 90vh; */
  /* overflow-y: scroll; */
}

.channel {
  padding: 3px 8px;
}

.single-channel {
  padding-left: 2px;
  position: relative;
}

.single-channel:hover {
  background-color:  #cce0ff;
}


/* for use btn delete ch */
.delete-ch {
  display: none;
  position: absolute;
  top: 2px;
  right: 3px;
  padding: 1px 2px;
  opacity: 0.4;
  color: red;
  /* box-shadow: 1px 2px 2px #ef5858; */
}

.ch-name:hover + .delete-ch {
  display: block;
}

/* for use trash icon delete ch */
/* #delete-ch {
  display: none;
  position: absolute;
  top: 2px;
  right: 3px;
  padding: 1px 2px;
  opacity: 0.4;
  color: red;
  font-size: 1.4em;
}

.ch-name:hover + #delete-ch {
  display: block;
} */



.create-new-channel {
  align-self: end;
  margin: 10px auto;
  /* min-height: 25px; */
}

.channel-form {
  min-height: 25px;
}

.channel-input {
  min-height: inherit;
}

.add-channel {
  min-height: inherit;
  padding: 5px 10px;
}

/* highlight last clicked channel by checkbox*/
.check-ch {
  display: none;
}

.check-ch:checked + .single-channel{
  padding-left: 2px;
  background-color: #f5f5f9;
  border-left: 2px solid #0039e6;
  /* border-radius: 4px; */
  box-shadow: 2px 2px 3px rgb(209, 209, 211);
}



/* [data-ch-title="# template-ch"] {
  padding-left: 2px;
  background-color:  #f5f5f9;
  border-left: 2px solid #0ed12b;
  box-shadow: 1.5px 1.5px 3px  #0ed12b;
} */

.error {
  color: red;
  
}