.messages-col {
  grid-area: messages-col;
  font-size: small;
  color: black;
  line-height: 1.5;
  min-width: 371px;
  border-left: 1.5px solid #0033cc;
  
  /* display: grid; */
  /* grid-template-columns: repeat(1, 1fr); */
  /* grid-template-rows: 1fr auto; */
  /* text-align: start; */
  /* justify-items: end; */
  max-height: 90vh;
  overflow-y: scroll;
  position: relative;    /* to position form box */
}

.messages { 
  position: relative;  /* adjust itself, not covered by form box */
  bottom: 28px;
}

.post-info-container {
  color: rgb(234, 82, 82);
  font-size: 10px;
}

.message {
  background-color: #e6ecff;
  margin: 10px 10px;
  border: 1px solid #ccd8ff;
  border-radius: 10px;
  padding-right: 10px;
  max-width: 80%;
  justify-self: end;
  text-align: end;

  position: relative;
}

div.message.cur-usr-msg {
  background-color: #b3c4ff;
  color: black;
  justify-self: start;
  text-align: start;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 0px;
  padding: 2px 2px 2px 10px;
}

.sender {
  font-size: 10px;
  font-weight: 600;
}

.time {
  font-size: 8px;
  font-weight: 300;
  padding-left: 5px;
}

.ch-title {
  font-size: 8px;
  font-weight: 400;
  padding-left: 5px;
}

.single-msg {
  color: rgb(39, 35, 35);
  padding-left: 10px;
}

/* ====== style bin start ======= */
.msg-trash-bin {
  display: none;
  position: absolute;
  right: 20px;
  bottom: 5px;
  color: red;
  font-size: 15px;
  border: 1px solid rgb(236, 55, 67);
  border-radius: 3px;
  padding: 1px 2px;
  box-sizing: border-box;
  opacity: 0.5;
  box-shadow: 1.5px 2.5px 3px #ec7e7e;

  /* transition-property: display;
  transition-duration: 2s; */
  /* transition: width 2s; */
  /* width: 20px; */
}

.single-msg:hover + .msg-trash-bin {
  display: block;
  background-color: rgb(189, 186, 186);
  color: rgb(236, 21, 21);
  /* width: 25px; */
}
/* ====== style bin end ======= */

/* set form position fix to view port */
.create-message {
  min-height: 25px;
  
  position: fixed;
  left: 35%;
  bottom: 4%;
  z-index: 3;
}

.input-message {
  min-width: 300px;
  min-height: inherit;
}

.send-msg {
  min-height: inherit;
  padding: 5px 8px;
}

/* style scroll bar start */
/* width */
/* .messages-col::-webkit-scrollbar {
  width: 10px;
  height: 10px; 

} */

/* Track */
/* .messages-col::-webkit-scrollbar-track {
  background: #999;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
} */

/* Handle */
/* .messages-col::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
} */

/* Handle on hover */
/* .messages-col::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 255, 34);
} */
