.people {
    font-size: small;
    color: rgb(53, 42, 42);
    line-height: 1.5;
    border-left: 1.5px solid #0033cc; 
    grid-area: people;
    text-align: start;
}

.error {
    color: rgb(239, 53, 53);
    padding-bottom: 5px;
}

.user {
    padding: 3px 10px;
}

/* highlight  the user who's sign in */
.cur-usr {
    /* background-color: #b3c6ff; */
    font-weight: 700;
    color: #0040ff;
    /* text-decoration: underline; */
}

