
.people {
    font-size: small;
    color: red;
    line-height: 1.5;
    border: 2px solid greenyellow; 
    grid-area: people;
    text-align: start;
}

.user {
    padding: 3px 10px;
}

/* highlight  the user who's sign in */
.cur-usr {
    background-color: rgb(177, 245, 181);
    text-decoration: underline;
}

