.people {
    font-size: small;
    color: rgb(53, 42, 42);
    line-height: 1.5;
    border-left: 1.5px solid #0033cc; 
    grid-area: people;
    text-align: start;
}

.error {
    color: rgb(239, 53, 53);
    padding-bottom: 5px;
}

.user {
    padding: 2px 10px;
}

/* highlight the user who's sign in */
.cur-usr {
    padding: 2px 3px;
    text-decoration: underline solid #0066ff 20%; 
    
    /* border-left: 2px solid #4d94ff; */
}

